<!DOCTYPE html>
<html ng-app="Cashier" ng-controller="customerController">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- Load c3.css -->
	<link href="/bower_components/c3/c3.css" rel="stylesheet" type="text/css">

	<!-- Load d3.js and c3.js -->
	<script src="/bower_components/d3/d3.min.js" charset="utf-8"></script>
	<script src="/bower_components/c3/c3.min.js"></script>
</head>
<body>
Customers - See log for data structure
<button type="submit" ng-click="init()">Load</button>

<br><br><br>
<div id="chart3_1"></div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>

<script src="app.js"></script>
<script src="charts.js" type="text/javascript"></script>
</body>
</html>