<!DOCTYPE html>
<html ng-app="Cashier" ng-controller="customerController">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Customers - See log for data structure

<button type="submit" ng-click="init()">Load</button>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>

<script src="app.js"></script>

</body>
</html>